@charset "utf-8";

$orange: #f47c3c;
$green: #93c54b;
$blue: #29abe0;
$red: #d9534f;

$primary: #325d88 !default;
$warning: $orange;
$warning-invert: #fff;

$link: $orange;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-helpers/bulma-helpers.sass";
